PORT=3003

DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=transaction_user
DB_PASSWORD=transaction_password
DB_DATABASE=bank_transaction
DB_SCHEMA=public

# Solo para desarrollo local.
# Antes de la entrega lo sustituiremos por migraciones.
DB_SYNCHRONIZE=true

# RabbitMQ
RABBITMQ_URL=amqp://bank_user:bank_password@localhost:5672
RABBITMQ_EXCHANGE=bank.events
RABBITMQ_QUEUE=transaction-service.events
RABBITMQ_PREFETCH=10

# RabbitMQ retries / DLQ
RABBITMQ_RETRY_EXCHANGE=bank.events.retry
RABBITMQ_DLX=bank.events.dlx
RABBITMQ_RETRY_QUEUE=transaction-service.events.retry
RABBITMQ_DLQ=transaction-service.events.dlq
RABBITMQ_MAX_RETRIES=3
RABBITMQ_RETRY_DELAY_MS=5000
