PORT=3003

DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=transaction_user
DB_PASSWORD=transaction_password
DB_DATABASE=bank_transaction
DB_SCHEMA=public

# Solo para desarrollo local.
# Antes de la entrega lo sustituiremos por migraciones.
DB_SYNCHRONIZE=true
