# Notification & Audit Service - Fase 2

# PostgreSQL
NOTIF_DB_HOST=localhost
NOTIF_DB_PORT=5435
NOTIF_DB_NAME=bank_notification
NOTIF_DB_USER=notification_user
NOTIF_DB_PASSWORD=notification_password

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=rabbit_user
RABBITMQ_DEFAULT_PASS=rabbit_password

# SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=no-reply@bankusac.local

# Frontend
FRONTEND_URL=http://localhost:3000
