PORT=3005
DB_HOST=localhost
DB_PORT=5437
DB_USERNAME=payment_user
DB_PASSWORD=payment_password
DB_DATABASE=bank_payment
DB_SYNCHRONIZE=true
RABBITMQ_URL=amqp://rabbit_user:rabbit_password@localhost:5672
RABBITMQ_QUEUE=payment-service.events
RABBITMQ_MAX_RETRIES=3
RABBITMQ_RETRY_DELAY_MS=3000
PAYMENT_MAX_AMOUNT=1000000
