PORT=3004
DB_HOST=localhost
DB_PORT=5436
DB_USERNAME=account_user
DB_PASSWORD=account_password
DB_DATABASE=bank_account
DB_SYNCHRONIZE=true
RABBITMQ_URL=amqp://rabbit_user:rabbit_password@localhost:5672
RABBITMQ_QUEUE=account-service.events
RABBITMQ_PREFETCH=10
RABBITMQ_MAX_RETRIES=3
RABBITMQ_RETRY_DELAY_MS=3000
