# Customer Service - Fase 2

# PostgreSQL de Customer Service
CUSTOMER_DB_HOST=localhost
CUSTOMER_DB_PORT=5433
CUSTOMER_DB_NAME=bank_customer
CUSTOMER_DB_USER=customer_user
CUSTOMER_DB_PASSWORD=customer_password

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=rabbit_user
RABBITMQ_DEFAULT_PASS=rabbit_password

# JWT
JWT_SECRET=bank-usac-demo-secret-change-before-production-2026
JWT_EXPIRATION_MS=3600000

# Usuarios demo
SEED_DEMO_USERS=true
DEMO_ADMIN_PASSWORD=Admin123!
DEMO_CASHIER_PASSWORD=Cashier123!
